<div class="uk-section uk-section-xsmall uk-section-secondary">
    <div class="uk-container">
        <div class="uk-child-width-1-1 uk-grid-match uk-text-middle" uk-grid>
            <div>
                <p class="uk-margin-small uk-text-center">
                    <a href="" class="uk-animation-slide-top uk-link-reset uk-margin-small-right">
                        <i class="fab fa-instagram" style="font-size: 1.5em; color: #C13584;"></i>
                    </a>
                    <a href="" class="uk-animation-slide-top uk-link-reset uk-margin-small-right">
                        <i class="fab fa-twitter" style="font-size: 1.5em; color: #1DA1F2;"></i>
                    </a>
                    <a href="" class="uk-animation-slide-top uk-link-reset uk-margin-small-right">
                        <i class="fab fa-facebook" style="font-size: 1.5em; color: #4267B2;"></i>
                    </a>
                    <a href="" class="uk-animation-slide-top uk-link-reset uk-margin-small-right">
                        <i class="fab fa-youtube" style="font-size: 1.5em; color: #FF0000;"></i>
                    </a>
                </p>
                <p class="uk-text-center uk-margin-small">
                    <i class="far fa-copyright"></i>
                    2019 <a class="uk-link uk-link-heading" href="/">Cinemaillusion</a>.
                </p>
                <a class="uk-button uk-button-text" href="#" uk-totop uk-scroll></a>
            </div>
        </div>
    </div>
</div>