<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>
    {{ block "title" . }}
    {{ .Site.Title }} {{ with .Title }} - {{ . }}{{ end }}
    {{ end }}
</title>
{{ $option := (dict "targetPath" "css/style.min.css" "outputStyle" "compressed") }}
{{ $style := resources.Get "scss/style.scss" | resources.ToCSS $option }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<link rel="shortcut icon" href="logo.ico" type="image/x-icon">